/* ///////////////////////CSS SECCIONES/////////////////////////

-FUENTE
-TRANSITION/ANIMATIONS
-MEDIAQUERIES
 */
.index {
  background-color: #05090a;
  background-image: url(../img/fondos/index.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  animation: zoom 30s infinite;
  -webkit-animation: zoom 30s infinite;
}
.index .boton, .index #bodycursos .boton--cursos, #bodycursos .index .boton--cursos {
  color: #FFE05D;
  background-color: #646464;
  transition: 1s;
}
.index .boton:hover, .index #bodycursos .boton--cursos:hover, #bodycursos .index .boton--cursos:hover {
  background-color: #ff9642;
  color: #fff8cd;
}

@keyframes zoom {
  0% {
    background-size: 50%;
  }
  100% {
    background-size: 100%;
  }
}
.contacto {
  background-image: url(../img/fondos/contacto.jpg);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}
.contacto .boton, .contacto #bodycursos .boton--cursos, #bodycursos .contacto .boton--cursos {
  color: #fff8cd;
  background-color: #646464;
  transition: 1s;
}
.contacto .boton:hover, .contacto #bodycursos .boton--cursos:hover, #bodycursos .contacto .boton--cursos:hover {
  background-color: #ff9642;
}

.metodologia {
  background-image: url(../img/fondos/metodologia.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#bodycursos {
  background-image: url(../img/fondos/cursos.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#bodycursos .list-group-item {
  background-color: rgba(100, 100, 100, 0.8);
  color: #ff9642;
}
#bodycursos .card {
  background-color: rgba(255, 150, 66, 0.6);
}
#bodycursos .boton, #bodycursos .boton--cursos {
  background-color: #646464;
  color: #FFE05D;
  transition: 1s;
}
#bodycursos .boton:hover, #bodycursos .boton--cursos:hover {
  background-color: #FFE05D;
  color: #646464;
}
#bodycursos .boton--cursos:hover {
  background-color: #fff8cd;
  color: #646464;
}

#bodysedes {
  background-image: url(../img/fondos/sedes.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#profesores {
  background-image: url(../img/fondos/profesores.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  background: rgb(255, 224, 93);
  background: linear-gradient(90deg, rgba(255, 224, 93, 0.7) 50%, rgba(255, 150, 66, 0.7) 100%);
}
.header li a {
  transition: 0.5s;
}
.header li a:hover {
  background: #fff8cd;
  color: #ff9642 !important;
  text-decoration: underline;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

footer {
  background: rgb(255, 150, 66);
  background: linear-gradient(90deg, rgba(255, 150, 66, 0.7) 0%, rgba(255, 224, 93, 0.7) 50%);
}
footer #colorautor {
  text-decoration: none;
  color: #fff8cd;
}
footer #itemcolor {
  filter: opacity(0.4) drop-shadow(0 0 0 grey);
}
footer #itemcolor:hover {
  filter: opacity(1) drop-shadow(0 0 0 grey);
}

#colorautor:hover {
  color: #FFE05D;
  transition: 1s;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.5s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  color: #fff8cd;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-box-shadow-outset {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.hvr-box-shadow-outset:hover,
.hvr-box-shadow-outset:focus,
.hvr-box-shadow-outset:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

@font-face {
  font-family: "gloria";
  font-style: normal;
  font-weight: normal;
  src: url(../css/font/GloriaHallelujah-Regular.ttf);
}
/* ///////////////////////////////* GENERAL ///////////////////////////////// */
body {
  font-family: "gloria";
  color: #fff8cd;
}

/* /////////////////TRANSITION/ANIMATION///////////////////*  */
.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}

/* ///////////////////////////////* MEDIAQUERIES ///////////////////////////////// */
@media screen and (max-width: 769px) {
  .index {
    background-color: #05090a;
    background-image: url(../img/fondos/index.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    animation: zoom 15s infinite;
    -webkit-animation: zoom 15s infinite;
  }
  @keyframes zoom {
    0% {
      background-size: 150%;
    }
    100% {
      background-size: 200%;
    }
  }
  .contacto {
    background-image: url(../img/fondos/contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .metodologia {
    background-image: url(../img/fondos/metodologia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  #bodycursos {
    background-image: url(../img/fondos/cursos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  #bodysedes {
    background-image: url(../img/fondos/sedes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  #profesores {
    background-color: #0e0e0e;
    background-image: url(../img/fondos/profesores.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
}

/*# sourceMappingURL=estilos.css.map */
