/* ///////////////////////CSS SECCIONES/////////////////////////

-RESET
-TRANSITION/ANIMATIONS
-GENERAL
-HEADER
-ACERCADE
-CURSOS
-CONTACTO
-FOOTER
-MEDIAQUERIES
 */

/* /////////////////RESET///////////////////*  */

@font-face {
  font-family: "gloria";
  font-style: normal;
  font-weight: normal;
  src: url(./font/GloriaHallelujah-Regular.ttf);
}

/* /////////////////TRANSITION/ANIMATION///////////////////*  */

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  color: #fff8cd;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



.hvr-box-shadow-outset {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.hvr-box-shadow-outset:hover,
.hvr-box-shadow-outset:focus,
.hvr-box-shadow-outset:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
 
.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}
.animate__animated.animate__zoomIn {
  --animate-duration: 3s;
}


/* ///////////////////////////////* GENERAL ///////////////////////////////// */
.index {
  
  background-color: #05090a;
  background-image: url(../img/max-vs-PjCh5goo-unsplash.jpg);
  background-size: auto;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment:scroll;
  animation: zoom 30s infinite;
  -webkit-animation: zoom 30s infinite;
}
@keyframes zoom {
  0% {
    background-size: 50%;
  }
  100% {
    background-size: 100%;
  }
}

.contacto {
  background-image: url(../img/scott-fancher-UKVsYAcVDSU-unsplash.jpg);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

.acercade {
  background-image: url(../img/zen-g42ec84056_1920.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#bodycursos {
  background-image: url(../img/textures/jr-korpa-XEJDsC5Tzec-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#bodysedes {
  background-image: url(../img/textures/joris-visser-aT-R6XnS3Ww-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#profesores {
  background-image: url(../img/bw.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body {
  font-family: "gloria";
  color: #fff8cd;
}

/* ///////////////////////////////* HEADER ///////////////////////////////// */
.header {
  background: rgb(255, 224, 93);
  background: linear-gradient(
    90deg,
    rgba(255, 224, 93, 0.7) 50%,
    rgba(255, 150, 66, 0.7) 100%
  );
}

.dropdown-items,
.dropdown-menu {
  background: rgb(255, 224, 93);
  background: linear-gradient(90deg, rgba(255, 224, 93), rgba(255, 150, 66));
}

ul li a:hover {
  background: #fff8cd;
  color: #ff9642 !important ;
  text-decoration: underline;
  
}

/* ////////////////////Sedes/////////////////////////*/



/* ///////////////////////////////* Mwtodologia ///////////////////////////////// */




/* ///////////////////////////////* CURSOS ///////////////////////////////// */
.card{
  background-color: rgb(255, 150, 66, 0.6);
}

.card-link{
  color:#fff8cd
}


/* ///////////////////////////////* Cursos ///////////////////////////////// */
.list-group-item{
  background-color: rgb(100, 100, 100, 0.8);
  color: #ff9642;
}


/* ///////////////////////////////* CONTACTO ///////////////////////////////// */
.boton{
  background-color: #ff9642;
}


/* ///////////////////////////////* FOOTER ///////////////////////////////// */
footer {
  /* grid-area: footer; */
  background: rgb(255, 150, 66);
  background: linear-gradient(
    90deg,
    rgba(255, 150, 66, 0.7) 0%,
    rgba(255, 224, 93, 0.7) 50%
  );
}

#itemcolor {
  filter: opacity(0.4) drop-shadow(0 0 0 grey);
}

#itemcolor:hover {
  filter: opacity(1) drop-shadow(0 0 0 grey);
}

#colorautor{
  text-decoration: none;
  color: #fff8cd;
}

/* @media screen and (max-width: 769px){

  .index {
    background-color: #05090a;
    background-image: url(../img/max-vs-PjCh5goo-unsplash.jpg);
    background-size:  auto;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    animation: zoom 30s infinite;
    -webkit-animation: zoom 30s infinite;
  }

  
} */



@media screen and (max-width: 769px){

  .index {
    background-color: #05090a;
    background-image: url(../img/max-vs-PjCh5goo-unsplash.jpg);
    background-size: auto;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    animation: zoom 15s infinite;
    -webkit-animation: zoom 15s infinite;
  }
  @keyframes zoom {
    0% {
      background-size: 150%;
    }
    100% {
      background-size: 200%;
    }
  }

  
}