#bodycursos {
    background-image: url(../img/textures/jr-korpa-XEJDsC5Tzec-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}  

.card {
    background-color: rgb(255, 150, 66, 0.6);
}

.card-link {
    color: $primary-color;
}

.list-group-item {
    background-color: rgb(100, 100, 100, 0.8);
    color: $secondary-color;
}
