/* ///////////////////////CSS SECCIONES/////////////////////////

-FUENTE
-TRANSITION/ANIMATIONS
-MEDIAQUERIES
 */

@import "colores";
@import "variables";
@import "paginas/index";
@import "paginas/contacto";
@import "paginas/metodologia";
@import "paginas/cursos";
@import "paginas/sedes";
@import "paginas/profesores";
@import "componentes/footer";
@import "componentes/header";

/////////////////Fuente///////////////////*/  

@font-face {
  font-family: "gloria";
  font-style: normal;
  font-weight: normal;
  src: url(../css/font/GloriaHallelujah-Regular.ttf);
}

/* ///////////////////////////////* GENERAL ///////////////////////////////// */

body {
  font-family: "gloria";
  color: $primary-color;
  
}

/* /////////////////TRANSITION/ANIMATION///////////////////*  */

.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}


/* ///////////////////////////////* MEDIAQUERIES ///////////////////////////////// */

@media screen and (max-width: 769px) {
  .index {
    background-color: #05090a;
    background-image: url(../img/fondos/index.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    animation: zoom 15s infinite;
    -webkit-animation: zoom 15s infinite;
  }
  @keyframes zoom {
    0% {
      background-size: 150%;
    }
    100% {
      background-size: 200%;
    }
  }

  .contacto {
    background-image: url(../img/fondos/contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .metodologia {
    background-image: url(../img/fondos/metodologia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  #bodycursos {
    background-image: url(../img/fondos/cursos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  #bodysedes {
    background-image: url(../img/fondos/sedes.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  #profesores {
    background-color: #0e0e0e;
    background-image: url(../img/fondos/profesores.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
}
