.contacto {
    background-image: url(../img/fondos/contacto.jpg);
    background-size: contain;
    background-position: center;
    background-attachment: fixed;

    .boton{
        color: $primary-color;
        background-color: #646464;
        transition: 1s;

        &:hover{
            background-color: $secondary-color;
        }

    }
    
}

