.contacto {
    background-image: url(../img/fondos/contacto.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    .contacto__boton{
        color: map-get($colors , principal );
        background-color: map-get($colors , tercero );
        transition: 1s;
        
        &:hover{
            background-color: map-get($colors , segundo );
        }
    }
    
}

