#bodyescuelas {
    background-image: url(../img/fondos/escuelas.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#carouselExampleCaptions, #carouselExampleFade, #carouselExampleControls {
  margin-top: 10px;
  .carousel-item {
    img {
      object-fit: cover;
    }
  }
}

.carousel-item img {
  height: 500px;
}

.carousel{
      .carouseltitle{
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-weight: bolder;
        font-size: 3rem;
        text-shadow: 
        1px 1px 0 #FFE05D;
        -webkit-text-stroke: 0.1px #646464;
      }
    }