#bodyescuelas {
    background-image: url(../img/fondos/escuelas.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#carouselExampleCaptions, #carouselExampleFade, #carouselExampleControls {
  margin-top: 10px;
  .carousel-item {
    img {
      object-fit: cover;
    }
  }
}
.carousel-item img {
  height: 500px;
}