.index {
    background-color: #05090a;
    background-image: url(../img/fondos/index.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    animation: zoom 30s infinite;
    -webkit-animation: zoom 30s infinite;

    .boton{
      color: map-get($colors , cuarto );
      background-color: map-get($colors , tercero );
      transition: 1s;

      &:hover{
          background-color: map-get($colors , segundo );
          color: map-get($colors , principal );
      }

  }
}

@keyframes zoom {
    0% {
      background-size: 50%;
    }
    100% {
      background-size: 100%;
    }
}  