.header {
  background: rgb(255, 224, 93);
  background: linear-gradient(
    90deg,
    rgba(255, 224, 93, 0.7) 50%,
    rgba(255, 150, 66, 0.7) 100%
  );

  li {
    a {
      transition: 0.5s;
      &:hover {
        background: map-get($colors , principal);
        color: map-get($colors , segundo) !important;
        text-decoration: underline;
      }
    }
  }
}

// Animacion logo
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
